body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

main {
    margin-top: 11vh;
    display: flex;
    gap: 15px;
}

.column {
    flex: 1;
    background-color: gray;
    border-radius: 15px;
}
.content {
    display: flex;
    width: 60%;
    margin-left: 3vw;
    margin-right: 3vw;
    flex-direction: column;
    gap: 1vh;
}


article {
    display: flex;
    flex-direction: column;
    background-color: gainsboro;
    border-radius: 15px;
    padding: 2%;
}

.post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a + h3 {
    font-weight: normal;
}

.post-header img {
    width: 2rem;
    height: auto;
}

.post-body {
    font-size: large;
}

.post-body img {
    width: 100%;
    object-fit: contain;
}

div ~ input {
    width: 2rem;
    height: auto;
}

/* If the image source is empty, it doesn't display it */
img[src=""] {
    display: none;
}